.text-center {
  text-align: center;
}

.navContainer {
  width: 100%;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.navLinks {
  display: flex;
  gap: 15px; /* Corrige el espacio en `gap: 15px;` */
}

.logo {
  width: 250px; /* Reduce el ancho del logo si es necesario */
  height: auto;
}

.alink {
  color: azure;
  font-weight: 400;
  text-decoration: none;
}

.alink:hover {
  color: #ff5d05; /* Cambia el color al pasar el cursor */
}

.cartWidgetContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cartIcon {
  width: 2rem; /* Ajusta el tamaño del icono del carrito */
}

.cartCounter {
  color: orange;
}

/* Media Query para pantallas grandes (desktop) */
@media (min-width: 1024px) {
  .alink {
    font-size: 14px; /* Reduce el tamaño del texto en los enlaces */
  }

  .navLinks {
    font-size: 14px; /* Aplica el tamaño a todos los elementos dentro de navLinks si corresponde */
  }
}